<!DOCTYPE html>
<html lang="fr" data-theme="m">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Test</title>
        <link rel="stylesheet" href="/css/tailwind-output.css">
    </head>
    <body>
        <div class="card sm:max-w-sm">
            <div class="card-body">
                <h5 class="card-title mb-2.5">Welcome to Our Service</h5>
                <p class="mb-4">Discover the features and benefits that our service offers. Enhance your experience with our user-friendly platform designed to meet all your needs.</p>
                <div class="card-actions">
                    <button class="btn btn-primary">Learn More</button>
                </div>
            </div>
        </div>
    </body>
    <script src="../../../frontend/node_modules/flyonui/flyonui.js"></script>
    <script src="../../../frontend/node_modules/flyonui/dist/js/accordion.js"></script>
</html>